<h1>Workout App</h1>
<%= link_to 'My Workouts', controller: 'workouts' %></br>
<%= link_to 'New Workout', controller: 'workouts', action: 'new' %>
<%= link_to 'Sign up', signup_path, class: "large_button" %>
<%= link_to 'Sign in', controller: 'workouts', action: 'new' %>
