// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  width: 45%;
  margin: auto;
  // display: block;
  // text-align: center;
  // margin: 2% 13% 2% 13%;
  // padding: 2% 13% 2% 13%%
}

input {
  width: 100%;
  // margin: 0;
  // padding: 0;
}

.actions {
  margin-top: .5em;
  margin-left: .5em;
}
@media screen and (max-width: 48em) {
  form {
    width: 80%;
    margin: auto;
  }
}
