<div class="px2 bg-dark-gray">
  <nav class="nav mobile-nav-table nav-big nav-flush bold nav-bass-dark">
  <% if current_user %>
    Logged in as <%= current_user.email %>
  <%= link_to "Sign out", signout_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>
  </nav>
</div>
